API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
STRING_SESSION2=
STRING_SESSION3=
STRING_SESSION4=
STRING_SESSION5=
BOT_NAME=VENATRIX MUSIC
BOT_USERNAME=
OWNER_USERNAME=
HEROKU_API_KEY=
HEROKU_APP_NAME=
UPSTREAM_REPO=https://github.com/SUDEEPBOTS/MYRDLMUSIC
UPSTREAM_BRANCH=main
GIT_TOKEN=
SUPPORT_CHANNEL=https://t.me/
SUPPORT_CHAT=https://t.me/
